* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  font-size: 80%;
}

body {
  position: relative;
  min-height: 100vh; /* Make the body at least full height of the viewport */
  margin: 0;
  padding-bottom: 50px; /* Adjust this value to match the height of your footer */
}

.container {
    max-width: 140rem;
    padding: 4rem 2.4rem;
    margin: 0 auto;
  }

.grid {
    display: grid;
    gap: 6.4rem;
  }
  
  .grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
  }

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-logo,
.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-link {
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
